enter;
    padding:20px 40px;
    border-bottom:2px solid #00e5ff;
}

header h1{
    color:#00e5ff;
    text-shadow:0 0 10px #00e5ff;
}

nav a{
    color:white;
    text-decoration:none;
    margin-left:20px;
    transition:0.3s;
}

nav a:hover{
    color:#00e5ff;
}

/* Hero */

.hero{
    background:url("https://images.unsplash.com/photo-1542751371-adc38448a05e") no-repeat center center/cover;
    height:100vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
}

.hero h2{
    font-size:55px;
    color:#00e5ff;
    text-shadow:0 0 20px #00e5ff;
    animation:glow 2s infinite alternate;
}

@keyframes glow{

from{
    text-shadow:0 0 10px #00e5ff;
}

to{
    text-shadow:0 0 30px #00e5ff;
}

}

.hero p{
    margin:20px 0;
    font-size:22px;
}

button{
    background:#00e5ff;
    color:black;
    border:none;
    padding:15px 35px;
    font-size:18px;
    border-radius:8px;
    cursor:pointer;
    box-shadow:0 0 20px #00e5ff;
    transition:0.3s;
}

button:hover{
    transform:scale(1.1);
    background:white;
}

/* Games */

.games{
    display:flex;
    justify-content:center;
    gap:30px;
    flex-wrap:wrap;
    padding:60px 20px;
}

.card{
    width:280px;
    background:#111;
    border:2px solid #00e5ff;
    border-radius:15px;
    padding:20px;
    text-align:center;
    transition:0.4s;
}

.card h3{
    color:#00e5ff;
    margin-bottom:10px;
}

.card:hover{
    transform:translateY(-10px);
    box-shadow:0 0 25px #00e5ff;
}

/* Footer */

footer{
    background:#111;
    text-align:center;
    padding:20px;
    border-top:2px solid #00e5ff;
}

/* Mobile */

@media(max-width:768px){

header{
    flex-direction:column;
}

nav{
    margin-top:15px;
}

nav a{
    display:block;
    margin:10px 0;
}

.hero h2{
    font-size:35px;
}

.hero p{
    font-size:18px;
}

}
.card img{
    width:100%;
    height:180px;
    object-fit:cover;
    border-radius:10px;
    margin-bottom:15px;
}

.card{
    overflow:hidden;
}

.card img:hover{
    transform:scale(1.08);
    transition:0.5s;
}
/* Trending Games */

.trending{
    padding:60px 20px;
    text-align:center;
}

.trending h2{
    color:#00e5ff;
    margin-bottom:30px;
    text-shadow:0 0 10px #00e5ff;
}

.trend-box{
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
    gap:25px;
}

.trend-card{
    width:250px;
    background:#111;
    border:2px solid #00e5ff;
    border-radius:15px;
    padding:20px;
    transition:0.4s;
}

.trend-card:hover{
    transform:scale(1.08);
    box-shadow:0 0 25px #00e5ff;
}
.search{
padding:10px;
border-radius:5px;
border:none;
outline:none;
}

.video{
text-align:center;
padding:60px 20px;
}

.video h2{
color:#00e5ff;
margin-bottom:20px;
}

.video iframe{
border:3px solid #00e5ff;
border-radius:15px;
}

.newsletter{
text-align:center;
padding:60px 20px;
}

.newsletter input{
padding:12px;
width:250px;
border:none;
border-radius:5px;
margin:10px;
}

.newsletter button{
margin-top:10px;
}
.players,
.faq,
.contact-form{
text-align:center;
padding:60px 20px;
}

.player-card{
display:inline-block;
background:#111;
border:2px solid #00e5ff;
padding:20px;
margin:10px;
width:200px;
border-radius:10px;
transition:0.3s;
}

.player-card:hover{
transform:scale(1.05);
box-shadow:0 0 20px #00e5ff;
}

.contact-form input,
.contact-form textarea{
width:300px;
max-width:90%;
padding:12px;
border:none;
border-radius:5px;
}

.contact-form textarea{
height:120px;
resize:none;
}
/* Gallery */

.gallery{
    text-align:center;
    padding:60px 20px;
}

.gallery-box{
    display:flex;
    justify-content:center;
    gap:20px;
    flex-wrap:wrap;
}

.gallery-box img{
    width:300px;
    border-radius:10px;
    border:2px solid #00e5ff;
    transition:.3s;
}

.gallery-box img:hover{
    transform:scale(1.05);
    box-shadow:0 0 20px #00e5ff;
}


/* Back to Top */

.top-btn{
    position:fixed;
    bottom:20px;
    right:20px;
    background:#00e5ff;
    color:black;
    padding:12px 18px;
    text-decoration:none;
    border-radius:50%;
    font-weight:bold;
}
.logo{
    display:flex;
    align-items:center;
    gap:10px;
}

.logo img{
    width:60px;
    height:60px;
    border-radius:10px;
}

*{
margin: 0;
padding: 0;
box-sizing: border-box;
}


body {
font-family: Arial;
}

.container {
   display: flex;
   flex-direction: column
   gap: 20px;              
   align-items: center;
   padding: 20px; 
}

.box {
width: 80%;
padding: 20px;
background: lightgray;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
}

img {
    max-width: 100%;
    height: auto;
}

.box {
    width: 90%;
    max-width: 600px;
    padding: 15px;
    background: lightgray;
}

@media (max-width: 768px) {
    .container {
        padding: 10px;
        gap: 15px;
    }

    .box {
        width: 95%;
    }

    h1 {
        font-size: 20px;
        text-align: center;
    }
